<div class="w-full flex justify-center" style="background: var(--secondary-color)">
	<div class="flex flex-col rounded m-4" style="background: var(--primary-color)">
		<div class="flex flex-row justify-around m-4">
			<div id="profile-picture" class="w-24 h-24"></div>
			<div class="flex-1">
				<div id="header_profile" class="flex flex-row justify-around">
					<div id="profile_username" class="font-bold text-lg" style="color: var(--main-color)">user</div>
				</div>
				<div class="px-4 text-white">Biography</div>
			</div>
		</div>
		<div id="gallery" class="grid grid-cols-3 gap-2 m-4">
			<div class="flex justify-center h-32 w-32 bg-white"></div>
			<div class="flex justify-center h-32 w-32 bg-white"></div>
			<div class="flex justify-center h-32 w-32 bg-white"></div>
			<div class="flex justify-center h-32 w-32 bg-white"></div>
			<div class="flex justify-center h-32 w-32 bg-white"></div>
			<div class="flex justify-center h-32 w-32 bg-white"></div>
		</div>
	</div>
</div>