<div class='flex justify-center items-start' style="min-height: calc(100vh - 4rem); background: #181818">
	<div class="flex mt-4 pt-2 flex-col">
		<div class="flex flex-row">
			<canvas style="max-height: 480px" id="canvas_creator" width="640px" height="480px"></canvas>
			<div id="filters" class="flex flex-col ml-12 flex-grow border-4 px-2" style="border-color: #0a0a0a">
				<!--                                <button class="flex items-center justify-center px-2 font-semibold text-gray-400 hover:text-white" style="background: #0a0a0a">add filtre</button>-->
				<!--                                <div id="filters" class="flex flex-col flex-grow px-2" style=""> -->
				<!--                                    <img src="http://localhost:4000/img/out.png" alt="" id="parcho" class="w-24 h-24">-->
				<!--                                </div>  -->
			</div>
		</div>
		<div class="flex flex-row items-center mt-6 border border-gray-300">
			<div class="flex flex-1 w-full justify-center">
				<input class="opacity-0 w-0 h-0 absolute" type="file" id="file" accept="image/*">
				<label class="hover:text-white cursor-pointer font-semibold text-gray-500" for="file">Choisir une photo</label>
			</div>
			<button id="sharebutton" class="flex flex-1 w-full font-semibold justify-center hover:text-white">Partager</button>
		</div>
	</div>
</div>`