<div id='profil_div' class="flex justify-center w-full" style="background: #181818">
	<div id="info_panel" class="flex rounded flex-col w-xl max-w-xl m-4 flex-1 items-center" style="background: var(--primary-color)">
		<div id="header" class="flex w-full justify-around items-center border-b py-2">
			<a id="backProfile" href="" class=" left-0 text-sm" style="left: 25px; color: var(--main-color)" data-link="">Retour au profil</a>
			<h1 class="text-white">Paramètre de profil</h1>
		</div>
		<form id="settings_form" class="flex pt-4 flex-col">
			<div id="header_info" class="flex flex-row items-center justify-between py-4">
				<div id="header_photo" class="flex flex-col">
					<div id="img_target" class="rounded-full border" style="width: 64px; height: 64px"></div>
				</div>
				<input class="opacity-0 w-0 h-0 absolute" type="file" id="file" accept="image/*">
				<label class="flex items-center w-48 h-8 border-gray-400 rounded justify-center hover:text-white cursor-pointer" style="background: #2ECC71;" for="file">Select file</label>
			</div>

			<div class="flex flex-row justify-between">
				<div class="text-white">Nom d’utilisateur</div>
				<input id="username" class="ml-4 border w-48 pl-1" placeholder="${user.username}" value="${user.username}">
			</div>
			<div class="text-sm text-gray-400">Aidez les gens à vous retrouver à l\'aide de ce nom.</div>

			<div class="flex flex-row justify-between pt-8">
				<div class="text-white">Email</div>
				<input id="email" class="ml-4 border w-48 pl-1" placeholder="${user.email}" value="${user.email}">
			</div>
			<div class="text-sm text-gray-400">Adresse de contact.</div>

			<div class="flex flex-row justify-between pt-8">
				<div class="text-white">Mot de passe</div>
				<input id="password" class="ml-4 border w-48 pl-1">
			</div>
			<div class="text-sm text-gray-400">Gardez celui-ci secret.</div>
			<button style="color: var(--main-color)" class="border my-8 rounded-md border-text hover:text-primary hover:bg-stroke flex bg-primary text-light w-full items-center font-medium justify-center py-4">Modifier</button>
		</form>
	</div>
</div>