<div id="log_1" class="flex items-center justify-center w-full" style="min-height: calc(100vh - 4rem); background: var(--secondary-color)">
	<div id="log_2" class="flex flex-col bg-white p-4 rounded shadow w-96" style="background: var(--main-color)">
		<h1 class="text-2xl text-text text-center my-8 font-medium">Register to <span class="text-secondary">Camagru</span></h1>
		<form id="form_register" class="flex flex-col m-2 text-xl">
			<input id="email"  placeholder="email" class="rounded-md border border-text w-full mb-6 p-2">
			<input id="username" placeholder="username" class="rounded-md border border-text w-full mb-6 p-2">
			<input type="password" id="password" placeholder="password" class="rounded-md border border-text w-full mb-6 p-2">
			<input type="password" id="confirm_password" placeholder="confirmation" class="rounded-md border border-text w-full mb-6 p-2">
			<div class="font-light text-sm mb-6 text-center">tu as déjà un profil ? connecte toi <a href="/login" class="text-primary font-semibold" data-link>ici </a>!</div>
			<button style="background: white" class="border rounded-md border-text flex text-light w-full items-center font-medium justify-center py-4">Register</button>
		</form>
	</div>
</div>