



<div class="flex items-center justify-center w-full default_height" style=" background-color: var(--secondary-color);">
	<div class="flex flex-col bg-white p-4 rounded shadow w-96" style="background: var(--main-color)">
		<h1 class="text-2xl text-text text-center my-8 font-medium">Connexion à <span class="text-secondary">Camagru</span></h1>
		<form id="form_register" class="flex flex-col m-2 text-xl">
			<input id="username" placeholder="username" class="rounded-md border border-text w-full mb-6 p-2">
			<input type="password" id="password" placeholder="password" class="rounded-md border border-text w-full mb-6 p-2">
			<div class="font-light text-sm mb-3 text-center">tu n'as pas de profil ? créer en un <a href="/register" style="" class="text-primary font-semibold" data-link>ici </a>!</div>
			<div class="font-light text-sm mb-6 text-center">tu as perdu ton mot de passe ? clique là <a href="/lostpassword" style="" class="text-primary font-semibold" data-link>ici </a>!</div>
			<button style="background: white" class="border rounded-md flex w-full items-center font-medium justify-center py-4 ">Connexion</button>
		</form>
	</div>
</div>